<section id="about-us" class="container-fluid">
  <h2 class=" mb-4">Sobre Nosotros</h2>
  <p>
    En <strong>Hamburguesas Beltrán</strong> nos apasiona ofrecerte la mejor
    experiencia con nuestras hamburguesas artesanales. Desde
    nuestros inicios, nos comprometimos a utilizar ingredientes frescos y de
    calidad para garantizar sabores únicos y auténticos en cada bocado.
  </p>
  <p>
    Somos una empresa familiar que valora la tradición y el amor por la cocina.
    Cada hamburguesa que sale de nuestra parrilla está elaborada con dedicación
    y atención al detalle, porque creemos que comer bien es una experiencia que
    debe disfrutarse al máximo.
  </p>
  <p>
    Además, nos enorgullece formar parte de nuestra comunidad, creando un
    espacio donde las personas puedan reunirse, compartir momentos especiales y
    saborear lo mejor de nuestras recetas exclusivas.
  </p>
  
  <h3 class="mt-4">Nuestro compromiso:</h3>
  <ul>
    <li>Ingredientes frescos de proveedores locales.</li>
    <li>Recetas artesanales que destacan por su sabor.</li>
    <li>
      Un servicio cálido y cercano, porque cada cliente es parte de nuestra
      familia.
    </li>
  </ul>
  <p class="mt-4">
    <strong>¡Gracias por elegirnos para acompañar tus mejores momentos!</strong>
  </p>
</section>
