<div class="container">
  <section class="d-flex flex-column align-items-center">
    <h3 class="h3">Ubicación</h3>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3521.869277712505!2d-64.21840118584304!3d-31.335681983168005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94329961ee86c29d%3A0xaa876a3f46e736d8!2sHamburguesas%20Beltran!5e1!3m2!1ses-419!2sar!4v1734202864448!5m2!1ses-419!2sar"
      width="750"
      height="600"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </section>
  <footer class="py-3 border-bottom">
    <div class="row">
      <!-- Email -->
      <div
        class="col-12 col-md-4 d-flex flex-column align-items-center mb-3 mb-md-0 text-center"
      >
        <span class="text-body-secondary">
          Email: <br />
          info&#64;hamburguesasbeltran.com.ar
        </span>
      </div>

      <!-- Domicilio -->
      <div
        class="col-12 col-md-4 d-flex flex-column align-items-center mb-3 mb-md-0 text-center"
      >
        <span class="text-body-secondary">
          Domicilio: Bv Berritella 7181 Córdoba, <br />
          Provincia de Córdoba.
        </span>
      </div>

      <!-- Redes Sociales -->
      <div
        class="col-12 col-md-4 d-flex justify-content-center justify-content-md-end"
      >
        <ul class="nav list-unstyled d-flex">
          <li class="ms-3">
            <a
              class="text-dark p-2"
              href="https://www.facebook.com/Beltranhamburguesas"
              target="_blank"
            >
              <i class="bi bi-facebook"></i>
            </a>
          </li>
          <li class="ms-3">
            <a
              class="text-dark p-2"
              href="https://web.whatsapp.com/send/?phone=5493512732290&text=Buen+dia%2C+quisiera+conocer+las+promociones+vigentes&type=phone_number&app_absent=0"
              target="_blank"
            >
              <i class="bi bi-whatsapp"></i>
            </a>
          </li>
          <li class="ms-3">
            <a
              class="text-dark p-2"
              href="https://www.instagram.com/hamburguesasbeltran/"
              target="_blank"
            >
              <i class="bi bi-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <div class="text-center  mb-3">
    <span class="mb-3 mb-md-0"
      >© Hamburguesas Beltran, Derechos Reservados</span
    >
  </div>
</div>
